/* body {  
    box-sizing: content-box;
} */

.header {
  background-color: blue;
  height: 7vh;
}

.logo {
  display: inline-block;
  width: 150px;
  height: 100%;
  background-color: purple;
  border: 1px solid red;
  float: left;
}

.take-test {
  width: 150px;
  height: 100%;
  display: flex;
  background-color: yellow;
  border: 1px solid green;
  float: right;
}

.move-page {
  padding: 10px 35px;
}

.title {
  font-size: 40px;
  text-align: center;
  height: 50px;
}


.carousel {
  margin-top: 20px;
  background-color: green;
  height: 20vh;
}

.carousel {
  position: relative;
  margin: 0 auto;
  overflow: hidden;
  width: 700px;
  height: auto:
  /* carousel 요소의 width 셋팅이 완료될 때까지 감춘다. */
}

.carousel-slides {
  --currentSlide: 0;
  --duration: 0;
  /* 수평 정렬 */
  display: flex;
  transition: transform calc(var(--duration) * 1ms) ease-out;
  transform: translate3D(calc(var(--currentSlide) * -100%), 0, 0);
}

.carousel-slides img {
  padding: 5px;
  width: 700px;
  height: auto;
  object-fit: fill;
}

/* carousel의 prev, next 버튼 */
.carousel-control {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 2em;
  color: #fff;
  background-color: transparent;
  border-color: transparent;
  cursor: pointer;
  z-index: 99;
}

.carousel-control:focus {
  outline: none;
}

/* carousel의 prev 버튼 */
.carousel-control.prev {
  left: 0;
}

/* carousel의 next 버튼 */
.carousel-control.next {
  right: 0;
}

.language-info {
  margin-top: 20px;
  height: 500px;
  background-color: yellowgreen;
}

.info-title {
  text-align: center;
  font-size: 30px;
  padding: 20px;
}

.select-list {
  height: 85%;
  position: relative;
}

.common {
  position: absolute;
  display: inline-block;
  width: 350px;
  height: 350px;
  top: 20px;
  border: 1px solid red;
}

.common.hide {
  display: none;
}

.language1 {
  left: 100px;
  background-color: #CCC;
}

.language2 {
  left: 555px;
  background-color: #CCC;
}

.language3 {
  right: 555px;
  background-color: #CCC;
}

.language4 {
  right: 100px;
  background-color: #CCC;
}

.close {
  border: none;
  background-color: #fff;
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
}

.footer {
  margin-top: 20px;
  height: 15vh;
  background-color: pink;
}

.question {
  padding: 20px;
  margin: 10px;
}


.question1 {
  border: 1px solid blue;
}

.question2 {
  border: 1px solid black;
}

.question3 {
  border: 1px solid greenyellow;
}

.question4 {
  border: 1px solid darkorchid;
}

.question5 {
  border: 1px solid aqua;
}

.submit {
  width: 100px;
  height: 50px;
  cursor: pointer;
  margin: 0 auto;
}