/* RESET STYLING */
.reset-list{ 
  list-style: none;
  margin: 0;
  padding-left: 0;
}

/* START STYLING */
body {
  font-size: 12px;
  /* background-color: gray; */
}
a{
  text-decoration: none;
  color: inherit;
}

/* COMMON HEADER */
.header {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.logo-name {
  /* background-color: purple; */
  flex-grow: 4;
  font-size: 1.5rem;
  padding: 20px;
}

.take-test {
  flex-grow: 0;
  /* background-color: yellow; */
  padding: 20px;
}

.test-button {
  /* background-color: pink; */
  padding: 15px 35px;
  font-size: 1.3rem;
}

/* CAROUSEL FOR INDEX.HTML */
.carousel-container {
  position: relative;

  /* background-color: aqua; */
}
.carousel {
  position: relative;
  margin: 0 auto;
  overflow: hidden;
  width: 676px;
}
.carousel-slides {
  --currentSlide: 0;
  --duration: 0;
  /* 수평 정렬 */
  display: flex;
  width: 676px;
  transition: transform calc(var(--duration) * 1ms) ease-out;
  transform: translate3D(calc(var(--currentSlide) * -100%), 0, 0);
}
.carousel-slides img{
  flex-shrink: 1;
  width: 676px;
  align-self: center;
  height: auto;
  object-fit: fill;
}
.carousel-control {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 1rem;
  background-color: transparent;
  border-color: transparent;
  cursor: pointer;
  z-index: 99;
}
.carousel-control:focus {
  outline: none;
}
.carousel-control.prev {
  left: 0;
}
.carousel-control.next {
  right: 0;
}

/* CAROUSEL -STATIC  */
.carousel-static-container img{
  width: 676px;
  height: auto;
}

/* OTHER LANGUAGE INFO */
.language-info {
  position: relative;
  margin-top: 10px;
  height: 500px; 
  background-color: yellowgreen;
}
.info-title {
  text-align: center;
  font-size: 30px;
  padding: 20px;
}
.language-lists{
  display: flex;
  background-color: blue;
  justify-content: space-around;
}
.language-item{
  position: relative;
  background-color: green;
}
.language-img {
  position: absolute;
  width: 150px;
  height: 150px;
  border: 1px solid red; 
}
.language-item.hide {
  display: none;
}



/* QUIZ QUESTIONS */
.question {
  padding: 20px;
  margin: 10px;
}

.submit {
  width: 100px;
  height: 50px;
  cursor: pointer;
  margin: 0 auto;
} 

/* COMMON FOOTER */

.footer {
  margin-top: 20px;
  height: 15vh;
  background-color: pink;
}