/* RESET STYLING */
.reset-list{ 
  list-style: none;
  margin: 0;
  padding-left: 0;
}

/* START STYLING */
body {
  font-size: 12px;
  font-family: 'Orbitron', sans-serif;
  /* font-family: 'Racing Sans One', cursive;
  font-family: 'Rock Salt', cursive; */
}
a{
  text-decoration: none;
  color: inherit;
}

/* COMMON HEADER */
.header {
  background: linear-gradient(180deg, #b6ccfe ,#edf2fb);
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
}
.logo-name {
  /* background-color: purple; */
  /* flex-grow: 4; */
  flex-shrink: 2;
  font-size: 2rem;
  padding: 20px;
  margin-left: 15px;
}
.test-button {
  background-color: #fff;
  padding: 15px 35px;
  margin-right: 15px;
  font-size: 1.3rem;
  border-radius: 25px;
  transition: all 0.25s;
}
.test-button:hover{
  border-color: black;
  color: #abc4ff;
  box-shadow: 2.5px 2.5px 1px 1px #b8c0ff;
  transform: translateY(-0.25em);
  cursor: pointer;
}

/* COMMON FOOTER */
.footer {
  background: linear-gradient(180deg, #edf2fb, #b6ccfe);
  /* background-color: pink; */
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.address, .copyright{
  padding: 10px;
} 
.contributors {
  font-family: 'Rock Salt', cursive;
}
.contributors > a {
  font-family: 'Orbitron', sans-serif;
}
.contributors:nth-of-type(2):before, 
.contributors:nth-of-type(2):after {
  font-family: 'Orbitron', sans-serif;
  content: "  |  ";
  padding: 5px;
}