
  /* CAROUSEL -STATIC  */
  .carousel-static-container{
    display: flex;
    justify-content: center;
    background-color: skyblue;

  }
  .carousel-static-image{
    align-self: center;
    border-radius: 25px;
    width: 676px;
    height: auto;
    /* object-fit: fill; */
}
  /* QUIZ QUESTIONS */
  .test-container {
    background-color: #b8c0ff;
    font-family: 'Orbitron', sans-serif;
    display: flex;
    padding: 50px 100px;
    flex-direction: column;
    font-size: 1.1rem;
  }
  
  .question {
    padding: 20px;
    margin: 10px;
  }
  
  .test-choice {
    display: block;
    position: relative;
    padding: 20px;
    margin: 10px;
    border: thin transparent solid;
  }
  .test-choice span{
    content: '. ';
    padding: 10px;
    font-size: 1.5rem;
  }

  .test-choice span::after{
    content: ''
    color: red;
    font-size: 1.4rem;
  }

  .test-choice::before,
  .test-choice::after{
    display: block;
    position: absolute;
    border-radius: 50%;
    content: ' ';
  }

  .test-choice::before{
    top: 25px;
    left: 0;
    width: 14px;
    height: 14px;
    border: 1px solid #000;
    background: #fff;
  }
  
  .test-choice[aria-checked=true]::after{
    top: 25px;
    left: 0px;
    border: 8px solid #000;
    content: '';
  }
  .answer {
    color: red;
    font-size: 1.5rem;
  }
  .submit {
    background-color: #b8c0ff;
    cursor: pointer;
    margin: 20px auto;
    padding: 15px 50px;
  }

  .submit:hover {
    border-color: red;
    box-shadow: 2.5px 2.5px 1px 1px red;
    transform: translateY(0.25em);]
  }